<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!--批量化定义别名，指定包名，自动扫描包中的类，别名即为类名，首字母大小写无所谓  -->
	<typeAliases>
		<package name="com.ssm.system.*.model"/>
	</typeAliases>
	
	<mapper>
		<package name="com.ssm.system.api.*.mapper"/>
	</mapper>
	
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!--分页参数合理化  -->
			<property name="reasonable" value="true"/>
		</plugin>
	</plugins>

</configuration>

